# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
components/hackflow
components/ui
components/cta-section.tsx
components/hero.tsx
components/features.tsx
components/metrics.tsx
components/tech-stack.tsx
components/journey.tsx
# local env files
.env*.local
.env
proto
pnpm-lock.yaml
prototype.mp4
# vercel
.vercel
# typescript
*.tsbuildinfo
next-env.d.ts
